
.about {
    height: 300vh;
    display: flex;
    margin-top: 20px;
}
.about-2 {
    height: 300vh;
    display: flex;
    margin-top: 20px;
}



/*.about-title {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    padding-left: 50px;
    
}*/
.about-title {
    width: 50%;
    margin: 0!important;
    padding-left: 50px;
    
}

.about-title div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
   
}

.fadein-trigger{}



.about-pages {
    padding-left: 50px;
    width: 50%;
    
}

/*.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
   
}
.about-pages div> img {
    width: 70%;
   

}
.about-pages div> p {
    width: 30%;
   

}*/
.wee-00{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wee-01{
    height: 80%;
    
}
.wee-01> img{
    height: 90%;
    width: fit-content;
}
.wee-02{
    height: 20%;
  
}

.para-phn-left{
    font-size: 36px;
    font-weight: 600;
    max-width: 50%;
}
.para-phn-right{
   
    font-weight:bolder;
    max-width:40%;
    
}








